* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

}

.mp0 {
    margin: 0 !important;
    padding: 0 !important;
}

.userimage {
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
.EPfooterline {
    border-bottom: 0.5px solid #D9D9D9;
    margin-top: 50px;
}
.dropdown-toggle::after{
	diplay:none !important;
}
.EPprivacypolicy {
    font-size: 12px;
}
.rightHeader {
    flex-direction: row !important;
    align-items: flex-start;
}

.dropdown-toggle::after {
    display: none;
}

.searchimg img {
    height: 22px;
    width: 22px;

}

.rightbutton {
    display: none !important;
}

.blocking {
    display: block !important;
}

.posAbsolute {
    position: absolute !important;
    transition: 2s;

}

.posStatic {
    position: static !important;
    transition: 2s !important;
    transform: translate3d(0, 10px, 0) !important;
    border: 0;
}

.card {
    margin: 1% !important;
}

.rightbutton {
    display: none !important;
}

.staticAbs {
    position: absolute !important;
}

.searchiconB {
    display: block;
}

.borderH2 {
    /* padding: 0.05%; */
    border-bottom: 1px solid #333333;
    border-top: 0.2px solid #333333;
}

/**********************************************************************************/
.title1 {
    margin-top: 20px;
    font-size: 30px;
}

#mission,
#birthday {
    width: 100%;
    border-radius: 3px;
}

#Storytitle {
    width: 100%;
    height: 28px;
    border-radius: 3px;
}
select{
    height: 28px;
}

.title2 {
    margin-top: 20px;
    font-size:15px;
    /* margin-left: 11%; */
}

.ck.ck-editor{
    width: 76% !important;
    height: 20% !important;
}

.ck-editor__editable_inline {
    min-height: 205px;
}
.ck-blurred{
    height: 200px !important;
}
#Videourl{
    /* width: 88%; */
    height: 28px;
    border-radius: 3px;
}
.strleft{
    margin-left: 11% !important;
}
.ck.ck-editor{
    width: 100% !important;
}
.uploadfile{
    padding-bottom: 20px;
}
.strCancel{
    border: 1px solid grey;
    border-radius: 25px;
    height: 30px;
    width: 70px;    
    background-color: white;
    font-size: 12px;
}
.strSave{
    border: 2px solid #F88634;
    border-radius: 25px;
    height: 30px;
    width: 70px;
    background-color: white;
    font-size: 12px;
    color: #F88634;
}
.strSubmit{
    border: 2px solid #F88634;
    border-radius: 25px;
    height: 30px;
    width: 70px;
    background-color: white;
    font-size: 12px;
    color: #F88634;
}





/*************/
.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
    height: 185px;
    width: 185px;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
    height: 90px;
    width: 90px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}
.strUploadBox{
    padding: 0 !important;
}
.strUploadImg{
    font-size: 30px;
}
.UploadText{
    font-size: 23px;
}
/* .preview-image{
    width: 10% !important;
} */
.preview-images-zone{
    width: 102% !important;
    border: none !important;
}
@media only screen and (max-width: 767px) {
    .rightbutton {
        display: block !important;
    }

    .blocking {
        display: none !important;
    }

    #mission,
    #birthday {
        width: 88%;
    }

    #Storytitle {
        width: 88%;
        height: 28px;
    }
    .missionStoryDate{
        margin-left: 10%;
    }
}