* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

}

.mp0 {
    margin: 0 !important;
    padding: 0 !important;
}

.userimage {
    height: 40px;
    width: 40px;
    border-radius: 50%;

}
.missionSelect{
	width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.rightHeader {
    flex-direction: row !important;
    align-items: flex-start;
}

.dropdown-toggle::after {
    display: none;
}

.searchimg img {
    height: 22px;
    width: 22px;

}

.rightbutton {
    display: none !important;
}

.blocking {
    display: block !important;
}

.posAbsolute {
    position: absolute !important;
    transition: 2s;

}

.posStatic {
    position: static !important;
    transition: 2s !important;
    transform: translate3d(0, 10px, 0) !important;
    border: 0;
}

.card {
    margin: 1% !important;
}

.rightbutton {
    display: none !important;
}

.staticAbs {
    position: absolute !important;
}

.searchiconB {
    display: block;
}

.borderH2 {
    /* padding: 0.05%; */
    border-bottom: 1px solid #333333;
    border-top: 0.2px solid #333333;
    position: -webkit-sticky;
    position: sticky;
}

/**********************************************/

.VTheading {
    font-size: 25px;
}

.title {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 15px;
}

.row {
    margin: 0 !important;
}

.lowertext {
    font-size: 10px;
}

.uppertext {
    font-size: 12px;
    font-weight: 600;
}

.table button {
    background-color: white;
    border: none;
}

.boxcard {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: 0 !important;
}

.table>tbody>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    font-size: 13px !important;
}

.EPddborder {
    border: 1.5px solid #D9D9D9;
    width: 100%;
    height: 28px !important;
    padding: 4px !important;
}

.EPddborder img {
    height: 8px;
    width: 12px;
    margin-top: 3px;
}

#birthday {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.margin2 {
    margin-top: 4px !important;
    margin-left: 5px;
}

.modal-header {
    border: none !important;
}

.modal-footer {
    border: none !important;
}

.modal-body {
    padding-top: 0 !important;
}

.modal-footer .cancel {
    border: 2px solid #333333;
    border-radius: 25px;
}

.modal-footer .changepass {
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 25px;
}

.modal-dialog {
    margin: 10px auto !important;
    max-width: none !important;
    width: 60vw !important;
}

.modal-body p {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
    font-weight: 100;
}

.modal-content {
    margin-top: 20% !important;
}

.textarea {
    padding: 5px !important;
}


@media only screen and (max-width: 767px) {
    .rightbutton {
        display: block !important;
    }

    .blocking {
        display: none !important;
    }

    .table>tbody>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        font-size: 10px !important;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th {
        font-size: 7px !important;
    }
}